body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#weatherInfo, #weatherMenuDisplay {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

#weatherIcon img {
    margin-top: 30px;
    width: 500px; 
    height: auto;
    max-height: 300px; 
    
}